<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/static/js/script.js"></script>
    <link href="static/css/dist/output.css" rel="stylesheet"> {{!-- TAILWIND CSS --}}
    {{#if style}}
    <link href="static/css/{{style}}.css" rel="stylesheet"> {{!-- PERSONAL CSS --}}
    {{/if}}
    <title>{{title}}</title>
</head>
<body>
    {{{body}}}
    {{>footer}}
</body>
</html>

