<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if script}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script> {{!-- SOCKET IO CLIENT SIDE --}}
    <script defer src="/static/js/{{script}}.js"></script> {{!-- PARAMETERS OF IO CLIENT SIDE --}}
    {{/if}}
    <link href="/static/css/dist/output.css" rel="stylesheet"> {{!-- TAILWIND CSS --}}
    {{#if style}}
    <link href="/static/css/{{style}}.css" rel="stylesheet"> {{!-- PERSONAL CSS --}}
    {{/if}}
    <title>{{title}}</title>
</head>
<body>
    {{{body}}}
    {{>footer}}
</body>
</html>

