<div class="px-5 grid gap-8 grid-cols-1 md:grid-cols-2 py-24 mx-auto bg-gray-100 text-gray-900 rounded-lg">
	<div class="flex flex-col justify-center">
		<div>
			<h2 class="text-4xl lg:text-5xl font-bold leading-tight">
				{{title}}
			</h2>
		</div>
		<div class="mt-12 text-center">
			<img src="https://dummyimage.com/500x300" alt="Contact" />
		</div>
	</div>
	<form action="/api/products" method="post"> {{!-- !use action and post method --}}
		<div>
			<span class="uppercase text-sm text-gray-600 font-bold">
				Title
			</span>
			<input
				class="w-full bg-gray-200 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-indigo-400"
				type="text"
                name="title"
				placeholder="Enter product title"
				required
			/>
		</div>
		<div class="mt-1">
			<span class="uppercase text-sm text-gray-600 font-bold">
				CODE
			</span>
			<input
				class="w-full bg-gray-200 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-indigo-400"
				type="text"
                name="code"
				placeholder="Enter product code"
				required
			/>
		</div>
		<div class="mt-1">
			<span class="uppercase text-sm text-gray-600 font-bold">
				PRICE
			</span>
			<input
				class="w-full bg-gray-200 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-indigo-400"
				type="number"
                name="price"
				placeholder="Enter product price"
				required
			/>
		</div>
        <div class="mt-1">
			<span class="uppercase text-sm text-gray-600 font-bold">
				STOCK
			</span>
			<input
				class="w-full bg-gray-200 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-indigo-400"
				type="number"
                name="stock"
				placeholder="Enter product stock"
				required
			/>
		</div>
        <div class="mt-1">
			<span class="uppercase text-sm text-gray-600 font-bold">
				CATEGORY
			</span>
			<input
				class="w-full bg-gray-200 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-indigo-400"
				type="text"
                name="category"
				placeholder="Enter product category"
				required
			/>
		</div>
		<div class="mt-1">
			<span class="uppercase text-sm text-gray-600 font-bold">
				DESCRIPTION
			</span>
			<textarea
				class="w-full h-32 bg-gray-200 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-indigo-400"
                name="description"
                placeholder="Enter product description"
				required
			></textarea>
		</div>
		<div class="mt-1">
			<button
				class="uppercase text-sm font-bold tracking-wide bg-indigo-500 text-gray-100 p-3 rounded-lg w-full focus:outline-none focus:shadow-outline hover:bg-indigo-700"
				type="submit"
                onclick = "window.location.href='#'"
			>
				Add product to Database
			</button>
		</div>
	</form>
</div>