<div
	class="w-full h-screen flex items-center justify-center bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-l">
	<div class="w-full md:w-1/3 rounded-lg">
		<div class="flex font-bold justify-center mt-6">
			{{!-- <img class="h-20 w-20 mb-3" src="" /> --}}
		</div>
		<h2 class="text-2xl text-center text-gray-200 mb-8">Reset your Password</h2>
		<form action="/resetpassword" method="post" class="px-12 pb-10">
			<div class="w-full mb-2">
				<div class="flex items-center">
					<input type="email" name="email" placeholder="Email Address" class="
			  w-full
			  border
			  rounded
			  px-3
			  py-2
			  text-gray-700
			  focus:outline-none
			" />
				</div>
			</div>
			<div class="w-full mb-2">
				<div class="flex items-center">
					<input type="password" name="password" placeholder="Password" class="
			  w-full
			  border
			  rounded
			  px-3
			  py-2
			  text-gray-700
			  focus:outline-none
			" />
				</div>
			</div>
			<button type="submit" class="
		  w-full
		  py-2
		  mt-8
		  rounded-full
		  bg-blue-400
		  text-gray-100
		  focus:outline-none
		">
				Reset your password
			</button>
		</form>
		<p class="text-xl text-center text-gray-200 mb-8">Remerbered your password ? <a
				class=" underline hover:text-cyan-200" href="/login">Login</a></p>
	</div>
</div>